@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-padrao: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: black url(../imagens/coca-cola-19-menor.png) center 60% / 900px no-repeat;
    color: white;
}

header{
    margin: 35px 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
}

header > nav{
    display: block;
    margin-left: 20px;
}

header > nav > a{
    text-align: center;
    padding: 16px;
    display: inline-block;
    margin: 0px 5px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

header > nav > a::after{
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #E61A27;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
}

nav > a:hover::after{
    transform: scaleX(1);
    transition: 0.1s ease-in-out;
}

header a > img:hover{
    background-color: #E61A27;
}

header > h1{
    font-family: var(--font-padrao);
    font-weight: 600;
    font-size: 40px;
}

header aside{
    min-width: 130px;
    display: flex;
    justify-content: space-between;
}

aside a i{
    padding: 10px;
    border-radius: 100%;
    font-size: 23px;
    margin-left: 20px;
}

aside a i:hover{
    background-color: #E61A27;
    box-shadow: 0px 8px 25px #E61A27;
    transition: 0.1s;
}

section{
    display: flex;
    align-items: flex-end;
}

section img{
    width: 400px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -45%);
}

section .description{
    font-family: var(--font-padrao);
    width: 270px;
    position: absolute;
    right: 20%;
    bottom: 15%;
}

.description h2{
    font-size: 3em;
}

.description p{
    font-weight: 200;
}

.navegacao{
    position: absolute;
    bottom: 5%;
    right: 23%;
    display: flex;
}

.navegacao button{
    padding: 10px;
    background-color: black;
    color: #E61A27;
    border: 1px solid #E61A27;
    cursor: pointer;
}

.navegacao button:hover{
    box-shadow: 0px 0px 25px #e61a283a;
    transition: 0.3s;
}

.navegacao button:active{
    background-color: #E61A27;
    color: black;
}

.navegacao #prev{
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    
}

.navegacao #next{
    border-radius: 50px;
    font-size: 20px;
    padding-left: 30px;
    width: 170px;
    font-weight: lighter;
    margin-left: 15px;
    text-align: left;
}

#next span{
    position: absolute;
    right: 20px;
    bottom: 9px;
    font-size: 1.6em;
}