@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kavoon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fcfcff;
  font-family: inter;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#add {
  background-color: #e2294f;
  border-radius: 50%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  padding-bottom: 20px;
}
#navbar h1 {
  font-size: 38px;
  margin: 5px 0px 5px 15px;
  font-family: kavoon;
}
#navbar #notify {
  margin-top: 5px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

#search {
  padding-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 90px;
  display: flex;
}
#search #input-seach {
  width: 95%;
  position: absolute;
  right: 0px;
  margin: 0px 7px;
  padding: 8px 0px 8px 32px;
  border-radius: 5px;
  border: none;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.178);
}
#search #microfone {
  z-index: 1;
  background-color: white;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  margin: 6px 12px 0px 0px;
  cursor: pointer;
}
#search #search-item {
  display: inline;
  z-index: 2;
  margin: 8px 0px 0px 15px;
  height: 20px;
  background-color: white;
}
#search .filter {
  display: block;
  position: absolute;
  right: 7px;
  align-self: flex-end;
  font-size: 30px;
  cursor: pointer;
}

#destaque {
  margin-bottom: 30px;
  margin-left: 7px;
}
#destaque p {
  margin: 5px;
  text-align: center;
}

#mais-populares {
  margin-left: 7px;
  margin-bottom: 20px;
}
#mais-populares p {
  margin: -1px;
}

#slide-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slide-wrapper button {
  border: none;
  z-index: 2;
}
#slide-wrapper #previous-slide {
  position: absolute;
  left: 20px;
  background-color: transparent;
  color: white;
}
#slide-wrapper #previous-slide span {
  background-color: transparent;
  font-size: 35px;
}
#slide-wrapper #next-slide {
  position: absolute;
  right: 20px;
  background-color: transparent;
  color: white;
}
#slide-wrapper #next-slide span {
  background-color: transparent;
  font-size: 35px;
}

#slide-list {
  display: flex;
}
#slide-list .slide-item {
  width: 90vw;
  flex-shrink: 0;
  margin: 5px 8px 5px 0px;
  overflow: hidden;
  border-radius: 10px;
}
#slide-list .slide-item .slide-content {
  width: 100%;
  height: 250px;
}
#slide-list .slide-item .slide-content .description-item {
  position: relative;
  bottom: 40%;
  color: white;
  background-image: linear-gradient(to top, black 10%, transparent);
  background-color: transparent;
  padding-bottom: 50px;
}
#slide-list .slide-item .slide-content .description-item h4, #slide-list .slide-item .slide-content .description-item p {
  background-color: transparent;
  text-align: left;
  position: relative;
  bottom: -10px;
  left: 10px;
  margin: 0;
}
#slide-list .slide-item img {
  width: 100%;
  height: 100%;
}

#bottom-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 10px 0px 14px;
  position: sticky;
  bottom: 0;
  margin: 0px;
  background-color: #fcfcff;
  font-size: 12px;
}
#bottom-bar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
#bottom-bar a p {
  margin: 0;
}
#bottom-bar a img {
  width: 35px;
}
#bottom-bar #compartilhar-item {
  font-size: 12px;
}
#bottom-bar #adicionar #add {
  position: absolute;
  top: -20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.329);
  width: 43px;
  height: 43px;
}

#slide-wrapper-popular {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slide-wrapper-popular #slide-list-popular {
  display: flex;
}

.slide-item-popular {
  margin-left: 5px;
  border-radius: 5px;
  flex-shrink: 0;
  overflow: hidden;
  width: 150px;
}

.slide-content-popular p {
  white-space: nowrap;
}
.slide-content-popular img {
  width: 150px;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  #previous-slide {
    display: none;
  }
  #previous-slide span {
    display: none;
  }
  #next-slide {
    display: none;
  }
  #next-slide span {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
