@charset "UTF-8";
@import "../../padroes/variaveis.scss";
@import "../../padroes/componentes.scss";

*{
    @include padrao;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

#voltar{
    @include voltar;
    .progresso-total{

        .progresso{
            width: 90%;
        }
    }
}

section{
    padding-top: 30px;
    h2{
        margin-left: 5px;
    }
    
}

#pedido-total-parte{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    background-color: #0cbaba21;
    box-sizing: content-box;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 5px;
    #detalhes-pedido-final,h4,div,p{
        background-color: transparent;
    }
    #detalhes-pedido-final{
        margin-left: 10px;
        h4{
            margin-bottom: 6px;
        }

    }
    .itens{

        font-size: 0.9rem;
        p{
            margin-bottom: 6px;
        }
    }

    #total-final{
        position: relative;
        left: -130px;
        font-size: 1.3rem;
        font-weight: bold;
        bottom: 5px;
        margin-bottom: 5px;
    }
    img{
        position: relative;
        width: calc(100% - 180px);
        height: 106px;
        border-radius: 8px;
    }
    margin-bottom: 45px;
    
}


.opcao{
    display: flex;
    border-top: 1px solid black;
    align-items: center;
    img,#dinheiro-forma{
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }

}
